{
    "aeon": {
        "blockTime": 240,
        "blocksSolidifyDepth": 10,
        "cmcId": "aeon",
        "family": "cryptonight-lite",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "minBalanceTransfer": 0.005,
        "name": "Aeon coin",
        "orderNumber": 0,
        "precision": 12,
        "server": {
            "httpPort": 5569,
            "ip": "aeon.pool.minergate.com",
            "stratumPort": 45690
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "AEON",
        "withdrawalFee": 0.01,
        "withdrawalMin": 0.01
    },
    "bcn": {
        "blockTime": 120,
        "blocksSolidifyDepth": 10,
        "cmcId": "bytecoin-bcn",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "minBalanceTransfer": 20,
        "name": "Bytecoin",
        "orderNumber": 1,
        "precision": 8,
        "server": {
            "httpPort": 5555,
            "ip": "bcn.pool.minergate.com",
            "stratumPort": 45550
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "BCN",
        "withdrawalFee": 0.01,
        "withdrawalMin": 100
    },
    "btc": {
    },
    "btg": {
        "blockTime": 600,
        "blocksSolidifyDepth": 10,
        "cmcId": "bitcoin-gold",
        "family": "equihash",
        "feePPLNS": 1,
        "minBalanceTransfer": 0.001,
        "name": "Bitcoin Gold",
        "orderNumber": 7,
        "precision": 8,
        "server": {
            "ip": "btg.pool.minergate.com",
            "stratumPort": 3257
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "BTG",
        "withdrawalFee": 4e-05,
        "withdrawalMin": 0.1
    },
    "devFeeCC": {
        "ip": "xmr.pool.minergate.com",
        "stratumPort": 45560
    },
    "dsh": {
        "blockTime": 120,
        "blocksSolidifyDepth": 10,
        "cmcId": "dashcoin",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "minBalanceTransfer": 1000,
        "name": "Dashcoin",
        "orderNumber": 9998,
        "precision": 8,
        "server": {
            "httpPort": 5572,
            "ip": "dsh.pool.minergate.com",
            "merged": {
                "fcn": {
                    "httpPort": 5573,
                    "ip": "fcn-dsh.pool.minergate.com",
                    "stratumPort": 45730
                },
                "mcn": {
                    "httpPort": 5574,
                    "ip": "mcn-dsh.pool.minergate.com",
                    "stratumPort": 45740
                }
            },
            "stratumPort": 45720
        },
        "sharesToHashes": 1,
        "showByDefault": false,
        "ticker": "DSH",
        "withdrawalFee": 0.001,
        "withdrawalMin": 0.01
    },
    "duck": {
        "blockTime": 240,
        "blocksSolidifyDepth": 10,
        "cmcId": "digitalnote",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "minBalanceTransfer": 1,
        "name": "DigitalNote",
        "orderNumber": 5,
        "precision": 8,
        "server": {
            "httpPort": 5562,
            "ip": "xdn.pool.minergate.com",
            "stratumPort": 45620
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "XDN",
        "withdrawalFee": 0.1,
        "withdrawalMin": 1
    },
    "etc": {
        "blockTime": 15,
        "blocksSolidifyDepth": 20,
        "cmcId": "ethereum-classic",
        "family": "ethereum",
        "feePPLNS": 1,
        "minBalanceTransfer": 1e-06,
        "name": "Ethereum Classic",
        "orderNumber": 2,
        "precision": 12,
        "server": {
            "ip": "etc.pool.minergate.com",
            "stratumPort": 45777
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "ETC",
        "withdrawalFee": 0.00084,
        "withdrawalMin": 0.001
    },
    "eth": {
        "blockTime": 15,
        "blocksSolidifyDepth": 20,
        "cmcId": "ethereum",
        "family": "ethereum",
        "feePPLNS": 1,
        "minBalanceTransfer": 1e-06,
        "name": "Ethereum",
        "orderNumber": 3,
        "precision": 12,
        "server": {
            "ip": "eth.pool.minergate.com",
            "stratumPort": 45791
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "ETH",
        "withdrawalFee": 0.0052,
        "withdrawalMin": 0.001
    },
    "fcn": {
        "blockTime": 60,
        "blocksSolidifyDepth": 10,
        "cmcId": "fantomcoin",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "minBalanceTransfer": 1,
        "name": "FantomCoin",
        "orderNumber": 9996,
        "precision": 12,
        "server": {
            "httpPort": 5561,
            "ip": "fcn.pool.minergate.com",
            "stratumPort": 45610
        },
        "sharesToHashes": 1,
        "showByDefault": false,
        "ticker": "FCN",
        "withdrawalFee": 1e-06,
        "withdrawalMin": 0.01
    },
    "inf8": {
        "blockTime": 90,
        "blocksSolidifyDepth": 10,
        "cmcId": "",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "minBalanceTransfer": 10,
        "name": "Infinium-8",
        "orderNumber": 10000,
        "precision": 12,
        "server": {
            "httpPort": 5575,
            "ip": "inf8.pool.minergate.com",
            "merged": {
                "fcn": {
                    "httpPort": 5576,
                    "ip": "fcn-inf8.pool.minergate.com",
                    "stratumPort": 45760
                },
                "mcn": {
                    "httpPort": 5577,
                    "ip": "mcn-inf8.pool.minergate.com",
                    "stratumPort": 45770
                }
            },
            "stratumPort": 45750
        },
        "sharesToHashes": 1,
        "showByDefault": false,
        "ticker": "INF8",
        "withdrawalFee": 1e-06,
        "withdrawalMin": 0.01
    },
    "ltc": {
    },
    "mcn": {
        "blockTime": 60,
        "blocksSolidifyDepth": 10,
        "cmcid": "",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "minBalanceTransfer": 1,
        "name": "MonetaVerde",
        "orderNumber": 9999,
        "precision": 12,
        "server": {
            "httpPort": 5564,
            "ip": "mcn.pool.minergate.com",
            "stratumPort": 45640
        },
        "sharesToHashes": 1,
        "showByDefault": false,
        "ticker": "MCN",
        "withdrawalFee": 0.001,
        "withdrawalMin": 0.01
    },
    "mro": {
        "blockTime": 120,
        "blocksSolidifyDepth": 10,
        "cmcId": "monero",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "minBalanceTransfer": 0.005,
        "name": "Monero",
        "orderNumber": 4,
        "precision": 12,
        "server": {
            "httpPort": 5556,
            "ip": "xmr.pool.minergate.com",
            "merged": {
                "duck": {
                    "ip": "xdn-xmr.pool.minergate.com",
                    "stratumPort": 45790
                },
                "fcn": {
                    "ip": "fcn-xmr.pool.minergate.com",
                    "stratumPort": 45590
                }
            },
            "stratumPort": 45560
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "XMR",
        "withdrawType": 0,
        "withdrawalFee": 0.02,
        "withdrawalMin": 0.1
    },
    "qcn": {
        "blockTime": 120,
        "blocksSolidifyDepth": 10,
        "cmcId": "quazarcoin",
        "family": "cryptonight",
        "feePPLNS": 1,
        "feePPS": 1.5,
        "minBalanceTransfer": 1,
        "name": "QuazarCoin",
        "orderNumber": 9997,
        "precision": 12,
        "server": {
            "httpPort": 5557,
            "ip": "qcn.pool.minergate.com",
            "merged": {
                "fcn": {
                    "httpPort": 5560,
                    "ip": "fcn-qcn.pool.minergate.com",
                    "stratumPort": 45600
                },
                "mcn": {
                    "httpPort": 5567,
                    "ip": "mcn-qcn.pool.minergate.com",
                    "stratumPort": 45670
                }
            },
            "stratumPort": 45570
        },
        "sharesToHashes": 1,
        "showByDefault": false,
        "ticker": "QCN",
        "withdrawalFee": 0.005,
        "withdrawalMin": 0.01
    },
    "usd": {
    },
    "zec": {
        "blockTime": 150,
        "blocksSolidifyDepth": 10,
        "cmcId": "zcash",
        "family": "equihash",
        "feePPLNS": 1,
        "minBalanceTransfer": 0.001,
        "name": "Zcash",
        "orderNumber": 6,
        "precision": 8,
        "server": {
            "ip": "zec.pool.minergate.com",
            "stratumPort": 3357
        },
        "sharesToHashes": 1,
        "showByDefault": true,
        "ticker": "ZEC",
        "withdrawalFee": 0.001,
        "withdrawalMin": 0.0001
    }
}
